{% if certainty == 'certain' %}You died{% else %}This looks like a death{% endif %} at {{ t_mmss }} on the enemy half ({{ death_zone }}) with no ward placed in the previous {{ lookback_s }}s. We can see when you warded, not where. Trinket availability is modelled from cooldown constants.
