{% if certainty == 'certain' %}You took{% else %}It looks like you took{% endif %} a fight at {{ fight_mmss }} with {{ unknown }} enemies unaccounted for (>30s info age) and no numbers advantage. Your team lost {{ our_deaths }} in that cluster.
